# python
__pycache__/
*.pyc
.ipynb_checkpoints/

# envs & secrets
.env
*.secret
*.token
*.key

# logs & local runs
logs/
*.log

# caches / temp
.cache/
.hf_cache/
.huggingface/
.tmp/
.torchinductor/
.triton/
wandb/
**/.DS_Store
/capsule-5416997/
/data/
/clean_data/data/
/clean_data/data/**
/clean_data/__pycache__/
/clean_data/__pycache__/**
/.venv/
/__pycache__/
.wandb
docs/_build/
docs/_autosummary/
